:root {
    --p1: #3772ff;
    --p2: #9757d7;
    --p3: #ff6838;
    --p4: #58bd7d;

    --s1: #4bc9f0;
    --s2: #e4d7cf;
    --s3: #ffd166;
    --s4: #cdb4db;

    --n1: #141416;
    --n2: #23262f;
    --n3: #353945;
    --n4: #777e90;
    --n5: #e6e8ec;
    --n6: #f1f2f3;
    --n7: #f4f5f6;
    --n8: #fcfcfd;

    --white: #ffffff
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.4;
}